/* Header */
.header_logo {
  display: flex;
  align-items: center;
}

.header_logo__img {
  width: 27px;
  height: auto;
  margin-top: 0;
}

.header_logo_navlink {
  color: var(--main-red);
  font-size: 23px;
  font-weight: 700;
  letter-spacing: -1px;
}

.header_btn_explore {
  width: 100px;
  padding: 10px 5px;
  margin-left: 10px;
  text-align: center;
  font-weight: bolder;
  font-size: 17px;
  border-radius: 32px;
  border: none;
  background-color: aqua;
  cursor: pointer;
  background-color: transparent;
}

.header_btn_explore:hover {
  background-color: #e5e5e0;
}

.header_searchBox {
  position: relative;
  flex: 1;
  margin-left: 20px;
}

.header_searchBox input {
  width: 100%;
  padding: 12px 40px;
  border-radius: 32px;
  border: none;
  background-color: #f1f1f1;
  font-size: 16px;
}

.header_searchBox svg {
  position: absolute;
  top: 50%;
  left: 15px;
  transform: translateY(-50%);
  width: 20px;
  color: #5f5f5f;
}

.header_searchBox input::placeholder {
  color: #6e6e6e;
}

.explore_btn_log {
  background-color: #e5e5e0;
  padding: 12px 14px;
  border-radius: 16px;
  font-weight: 500;
  margin-left: 12px;
}

.explore_btn_sign {
  background-color: var(--main-red);
  padding: 12px 14px;
  border-radius: 16px;
  color: white;
  font-weight: 500;
  margin-left: 7px;
}

/* header */

/* explore for Pinterest */

.explore_best h2 {
  margin-top: 50px;
  margin-left: 150px;
  font-size: 35px;
}
.explore_images {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 20px;
  margin-top: 35px;
}
.explore_card1 {
  background: url(https://res.cloudinary.com/dxqm2evux/image/upload/v1761476271/pasta_uy394n.jpg)
    center no-repeat;
  background-size: cover;
}
.explore_card2 {
  background: url(https://res.cloudinary.com/dxqm2evux/image/upload/v1759044837/Eleganze_slp9mf.jpg)
    center no-repeat;
  background-size: cover;
}

.explore_card3 {
  background: url(https://res.cloudinary.com/dxqm2evux/image/upload/v1759044821/toastFood_qil6pd.jpg)
    center no-repeat;
  background-size: cover;
}
.card {
  position: relative;
  border-radius: 30px;
  width: 400px;
  height: 300px;
  font-size: 20px;
  color: white;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: center;
  padding-bottom: 20px;
  overflow: hidden;
}

.card::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 32px;
  background-color: rgba(23, 23, 23, 0.415);
  z-index: 1;
}

.card:hover::before {
  background-color: rgba(0, 0, 0, 0.411);
}
.card p {
  font-size: 16px;
}
.card h3 {
  margin: 0 auto;
  font-size: 28px;
  width: 300px;
}
.card p,
.card h3 {
  position: relative;
  z-index: 2;
}

.seemore_btn {
  display: inline-block;
  width: 115px;
  height: 50px;
  margin: 20px 700px;
  padding: 15px 17px;
  background-color: #e5e5e0;
  border-radius: 16px;
  font-weight: 600;
  color: black;
  text-align: center;
}
.seemore_btn:hover {
  background-color: #d6d6d4;
}
/* explore for Pinterest */

/*  Browse by category */

.category_card {
  flex-wrap: wrap;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 12px;
  margin-top: 20px;
}
.explore_category h2 {
  margin-top: 50px;
  margin-left: 150px;
  font-size: 27px;
}
.category_img1 {
  background: url("https://res.cloudinary.com/dxqm2evux/image/upload/v1759052882/dog_hqhany.png")
    center no-repeat;
  background-size: cover;
}
.images {
  width: 240px;
  height: 120px;
  border-radius: 16px;
  position: relative;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  color: white;
}
.images::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 16px;
  background-color: rgba(23, 23, 23, 0.415);
  z-index: 1;
}
.images h3 {
  position: relative;
  z-index: 2;
}
.images:hover::before {
  background-color: rgba(0, 0, 0, 0.568);
}

.category_img2 {
  background: url("https://res.cloudinary.com/dxqm2evux/image/upload/v1759052880/art_woy1ej.png")
    center no-repeat;
  background-size: cover;
}

.category_img3 {
  background: url("https://res.cloudinary.com/dxqm2evux/image/upload/v1759052873/beauty_b1sofd.png")
    center no-repeat;
  background-size: cover;
}

.category_img4 {
  background: url("https://res.cloudinary.com/dxqm2evux/image/upload/v1759052870/design_df3put.png")
    center no-repeat;
  background-size: cover;
}

.category_img5 {
  background: url("https://res.cloudinary.com/dxqm2evux/image/upload/v1759052882/crafts_hu1nsv.png")
    center no-repeat;
  background-size: cover;
}

.category_img6 {
  background: url("https://res.cloudinary.com/dxqm2evux/image/upload/v1759052880/food_kzqgx2.png")
    center no-repeat;
  background-size: cover;
}

.category_img7 {
  background: url("https://res.cloudinary.com/dxqm2evux/image/upload/v1759052876/decor_ojiybo.png")
    center no-repeat;
  background-size: cover;
}

.category_img8 {
  background: url("https://res.cloudinary.com/dxqm2evux/image/upload/v1759052874/fashion_ke3nfs.png")
    center no-repeat;
  background-size: cover;
}

.category_img9 {
  background: url("https://res.cloudinary.com/dxqm2evux/image/upload/v1759052873/quotes_pwz0na.png")
    center no-repeat;
  background-size: cover;
}

.category_img10 {
  background: url("https://res.cloudinary.com/dxqm2evux/image/upload/v1759052873/tattoos_tqvoq9.png")
    center no-repeat;
  background-size: cover;
}
/*  Browse by category */

/*explore featured boards */

.section_title {
  font-size: 25px;
  margin: 20px 0 20px 160px;
}
.explore_fit {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 30px;
  max-width: 1270px;
  margin: 0 auto;
}

.boards_Img {
  width: 231px;
  height: 150px;
  position: relative;
}

.boards_Img::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  opacity: 0;
  transition: opacity 0.3s ease;
  border-radius: 16px;
}

.boards_Img:hover::after {
  opacity: 1;
}

.fit_boards img {
  object-fit: cover;
  object-position: center;
}
.fit_img1 {
  width: 150px;
  height: 150px;
  border-radius: 16px 0 0 16px;
}
.fit_img2 {
  width: 76px;
  height: 75px;
  border-radius: 0 0 16px 0;
}
.fit_img3 {
  width: 76px;
  height: 74px;
  position: absolute;
  top: 0px;
  right: 1px;
  border-radius: 0 16px 0 0;
}
.boardDesc {
  margin-left: 10px;
}
.boardDesc h2 {
  font-size: 15px;
  margin: 7px 0;
  width: 210px;
  word-break: break-word;
  overflow-wrap: break-word;
  white-space: normal;
}

.thick_svg {
  display: flex;
  align-items: center;
  text-align: center;
  gap: 5px;
  font-size: 11px;
}
.red_svg_thick {
  background-color: var(--main-red);
  width: 14px;
  height: 14px;
  border-radius: 50%;
  color: #e5e5e0;
}
.blue_svg_thick {
  background-color: #435ee5;
  width: 14px;
  height: 14px;
  border-radius: 50%;
  color: #e5e5e0;
}
.number_pins {
  margin-top: 7px;
  color: rgb(109, 109, 109);
  font-size: 11px;
}
/*explore featured boards */

/* new on Pinterest */

.explore_new h2 {
  margin-top: 50px;
  margin-left: 150px;
  font-size: 27px;
  margin-bottom: 20px;
}
.explore_posts {
  display: flex;
  justify-content: center;
  gap: 18px;
  position: relative;
}

.post {
  overflow: hidden;
  width: 240px;
  height: 700px;
  position: relative;
}
.image_wrapper {
  position: relative;
  width: 100%;
  overflow: hidden;
  border-radius: 16px;
}

.image_wrapper img {
  width: 100%;
  display: block;
  border-radius: 16px;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  opacity: 0;
  transition: opacity 0.3s ease;
  border-radius: 16px;
  cursor: pointer;
}

.image_wrapper:hover .overlay {
  opacity: 1;
}
.open {
  color: white;
  font-size: 18px;
  font-weight: 700;
  display: flex;

  justify-content: center;
  align-items: center;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 40%;
}
.download_btn {
  position: absolute;
  bottom: 13px;
  right: 15px;
  background-color: white;
  padding: 3px 4px;
  border-radius: 8px;
}
.download_btn svg {
  width: 18px;
  height: 18px;
}
.visit_site {
  background-color: #ffffff;
  border: none;
  border-radius: 13px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 5px;
  padding: 7px 10px;
  position: absolute;
  bottom: 13px;
  left: 10px;
  cursor: pointer;
}
.visit_site svg {
  width: 16px;
}
.visit_site p {
  font-size: 14px;
}
.post img {
  width: 100%;
  object-fit: cover;
  object-position: center;
  border-radius: 16px;
}

.new_post1 img {
  width: 100%;
  height: 100%;
  display: block;
}

.new_post6 {
  position: absolute;
  top: -235px;
  left: 120px;
}
.new_post7 {
  position: absolute;
  top: -145px;
  left: 25%;
}
.new_post8 {
  position: absolute;
  top: -190px;
  left: 42%;
}
.new_post9 {
  position: absolute;
  top: -270px;
  left: 59%;
}
.new_post10 {
  position: absolute;
  top: -130px;
  right: 130px;
}

.new_post11 {
  position: absolute;
  top: 270px;
  left: 120px;
}
.new_post12 {
  position: absolute;
  top: 470px;
  left: 25%;
}
.new_post13 {
  position: absolute;
  top: 355px;
  left: 42%;
}
.new_post14 {
  position: absolute;
  top: 150px;
  left: 59%;
}
.new_post15 {
  position: absolute;
  top: 330px;
  right: 130px;
}

.new_post16 {
  position: absolute;
  top: 800px;
  left: 120px;
}
.new_post17 {
  position: absolute;
  top: 965px;
  left: 25%;
}
.new_post18 {
  position: absolute;
  top: 880px;
  left: 42%;
}
.new_post19 {
  position: absolute;
  top: 710px;
  left: 59%;
}
.new_post20 {
  position: absolute;
  top: 850px;
  right: 130px;
}

.tag-bar {
  position: relative;
  display: flex;
  align-items: center;
  padding: 8px 25px 8px 0;
}

.tags {
  display: flex;
  gap: 6px;
  overflow-x: auto;
  scrollbar-width: none;
}
.tags::-webkit-scrollbar {
  display: none;
}

.tags a {
  flex-shrink: 0;
  background: #e5e5e0;
  color: #111;
  font-weight: 700;
  padding: 5px 10px;
  font-size: 12px;
  border-radius: 16px;
  text-decoration: none;
  white-space: nowrap;
}
.tags a:hover {
  color: #5f5f5f;
  text-decoration: underline;
}

.arrow {
  position: absolute;
  right: 6px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  color: #5c5b5b;
  z-index: 3;
  width: 20px;
  font-weight: 200;
  border-radius: 50%;
}

.fade-right {
  position: absolute;
  right: 10px;
  top: 2px;
  height: 30px;
  width: 60px;
  pointer-events: none;
  background: linear-gradient(to left, #ffffff 40%, rgba(255, 255, 255, 0));
  z-index: 2;
}
.post_description {
  cursor: pointer;
  position: relative;
  padding-right: 40px;
}

.post_description p {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  margin: 0;
  position: relative;
  padding-right: 30px;
  font-size: 13px;
  font-weight: 600;
}
.post_description span {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-top: 6px;
  font-size: 13px;
  font-weight: 500;
}

.more-action {
  width: 20px;
  height: 20px;
  text-align: center;
  position: absolute;
  top: 2px;
  right: 14px;
  background: transparent;
  border: none;
  font-size: 16px;
  cursor: pointer;
  border-radius: 4px;
  line-height: 1;
  color: #070707;
}

.more-action:hover {
  background-color: #d6d6d47a;
}

/* new on Pinterest */
