/* Header */
.header_logo {
  display: flex;
  align-items: center;
}

.header_logo__img {
  width: 27px;
  height: auto;
  margin-top: 0;
}

.header_logo_navlink {
  color: var(--main-red);
  font-size: 23px;
  font-weight: 700;
  letter-spacing: -1px;
}

.header_btn_explore {
  width: 100px;
  padding: 10px 5px;
  margin-left: 10px;
  text-align: center;
  font-weight: bolder;
  font-size: 17px;
  border-radius: 32px;
  border: none;
  background-color: aqua;
  cursor: pointer;
  background-color: transparent;
}

.header_btn_explore:hover {
  background-color: #e5e5e0;
}

.header_searchBox {
  position: relative;
  flex: 1;
  margin-left: 20px;
}

.header_searchBox input {
  width: 100%;
  padding: 12px 40px;
  border-radius: 32px;
  border: none;
  background-color: #f1f1f1;
  font-size: 16px;
}

.header_searchBox svg {
  position: absolute;
  top: 50%;
  left: 15px;
  transform: translateY(-50%);
  width: 20px;
  color: #5f5f5f;
}

.header_searchBox input::placeholder {
  color: #6e6e6e;
}

.explore_btn_log {
  background-color: #e5e5e0;
  padding: 12px 14px;
  border-radius: 16px;
  font-weight: 500;
  margin-left: 12px;
}

.explore_btn_sign {
  background-color: var(--main-red);
  padding: 12px 14px;
  border-radius: 16px;
  color: white;
  font-weight: 500;
  margin-left: 7px;
}

/* header */
