/* header */
.header_explore {
  background-color: aqua;
}
.header_logo {
  display: flex;
  align-items: center;
}

.header_logo__img {
  width: 27px;
  margin-top: 6px;
}

.header_logo_navlink {
  color: var(--main-red);
  font-size: 23px;
  font-weight: 700;
  letter-spacing: -2px;
}

.header_btn_explore {
  width: 100px;
  padding: 13px 5px;
  margin: 4px 0 0 10px;
  text-align: center;
  font-weight: bolder;
  font-size: 17px;
}

.header_btn_explore:hover {
  background-color: #e5e5e0;
  border-radius: 32px;
}
.header_searchBox {
  position: relative;
}
.header_searchBox input {
  width: 1170px;
  padding: 18px 40px;
  border-radius: 32px;
  border: none;
  background-color: #f1f1f1;
}
.header_searchBox svg {
  width: 19px;
  color: #5f5f5f;
  position: absolute;
  top: 12px;
  left: 18px;
}
.header_searchBox input::placeholder {
  color: #6e6e6e;
  font-size: 17px;
}
.explore_btn_log {
  background-color: #e5e5e0;
  padding: 17px;
  border-radius: 16px;
  font-weight: 600;
  margin-left: 12px;
}
.explore_btn_sign {
  background-color: var(--main-red);
  padding: 17px 20px;
  border-radius: 16px;
  color: white;
  font-weight: 600;
}
/* header */

/* explore for Pinterest */

.explore_best h2 {
  margin-top: 50px;
  margin-left: 150px;
  font-size: 35px;
}
.explore_images {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 20px;
  margin-top: 35px;
}
.explore_card1 {
  background: url(https://res.cloudinary.com/dxqm2evux/image/upload/v1761476271/pasta_uy394n.jpg)
    center no-repeat;
  background-size: cover;
}
.explore_card2 {
  background: url(https://res.cloudinary.com/dxqm2evux/image/upload/v1759044837/Eleganze_slp9mf.jpg)
    center no-repeat;
  background-size: cover;
}

.explore_card3 {
  background: url(https://res.cloudinary.com/dxqm2evux/image/upload/v1759044821/toastFood_qil6pd.jpg)
    center no-repeat;
  background-size: cover;
}
.card {
  position: relative;
  border-radius: 30px;
  width: 450px;
  height: 340px;
  font-size: 20px;
  color: white;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: center;
  padding-bottom: 20px;
  overflow: hidden;
}

.card::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 32px;
  background-color: rgba(23, 23, 23, 0.415);
  z-index: 1;
}

.card:hover::before {
  background-color: rgba(0, 0, 0, 0.411);
}
.card p {
  font-size: 16px;
}
.card h3 {
  margin: 0 auto;
  font-size: 28px;
  width: 300px;
}
.card p,
.card h3 {
  position: relative;
  z-index: 2;
}

.seemore_btn {
  display: inline-block;
  width: 115px;
  height: 50px;
  margin: 20px 780px;
  padding: 15px 17px;
  background-color: #e5e5e0;
  border-radius: 16px;
  font-weight: 600;
  color: black;
  text-align: center;
}
.seemore_btn:hover {
  background-color: #d6d6d4;
}
/* explore for Pinterest */

/*  Browse by category */

.category_card {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 20px;
  margin-top: 20px;
}
.explore_category h2 {
  margin-top: 50px;
  margin-left: 150px;
  font-size: 27px;
}
.category_img1 {
  background: url("https://res.cloudinary.com/dxqm2evux/image/upload/v1759052882/dog_hqhany.png")
    center no-repeat;
  background-size: cover;
}
.images {
  width: 260px;
  height: 130px;
  border-radius: 16px;
  position: relative;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
}

.category_img2 {
  background: url("https://res.cloudinary.com/dxqm2evux/image/upload/v1759052880/art_woy1ej.png")
    center no-repeat;
  background-size: cover;
}

.category_img3 {
  background: url("https://res.cloudinary.com/dxqm2evux/image/upload/v1759052873/beauty_b1sofd.png")
    center no-repeat;
  background-size: cover;
}

.category_img4 {
  background: url("https://res.cloudinary.com/dxqm2evux/image/upload/v1759052870/design_df3put.png")
    center no-repeat;
  background-size: cover;
}

.category_img5 {
  background: url("https://res.cloudinary.com/dxqm2evux/image/upload/v1759052882/crafts_hu1nsv.png")
    center no-repeat;
  background-size: cover;
}

.category_img6 {
  background: url("https://res.cloudinary.com/dxqm2evux/image/upload/v1759052880/food_kzqgx2.png")
    center no-repeat;
  background-size: cover;
}

.category_img7 {
  background: url("https://res.cloudinary.com/dxqm2evux/image/upload/v1759052876/decor_ojiybo.png")
    center no-repeat;
  background-size: cover;
}

.category_img8 {
  background: url("https://res.cloudinary.com/dxqm2evux/image/upload/v1759052874/fashion_ke3nfs.png")
    center no-repeat;
  background-size: cover;
}

.category_img9 {
  background: url("https://res.cloudinary.com/dxqm2evux/image/upload/v1759052873/quotes_pwz0na.png")
    center no-repeat;
  background-size: cover;
}

.category_img10 {
  background: url("https://res.cloudinary.com/dxqm2evux/image/upload/v1759052873/tattoos_tqvoq9.png")
    center no-repeat;
  background-size: cover;
}
.images::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 16px;
  background-color: rgba(23, 23, 23, 0.301);
  z-index: 1;
}

.images:hover::before {
  background-color: rgba(0, 0, 0, 0.411);
}
.images h3 {
  position: relative;
  color: white;
  font-size: 20px;
  font-weight: 600;
  z-index: 2;
}
/*  Browse by category */
