* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a {
  text-decoration: none;
  color: black;
}
li {
  list-style: none;
}

:root {
  --main-red: #e60023;
  --font-primary: "Montserrat", Arial, sans-serif;
}

body {
  font-family: var(--font-primary);
}
